<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-color: #F4F4F4;
    }

    #app {
      max-width: 600px;
      margin: auto;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class='controller'>
      <div v-if='started' style='display: flex; position: relative;'>
        <textarea v-model='messageDraft' style='width: 300px; height: 30px; display: block; margin: 5px;'></textarea>
        <button @click='sendMessage' style='margin-left: 20px; height: 30px;'>
          Send
        </button>
      </div>
      <div v-else>
        <button @click='startSocket'>Start</button>
      </div>
    </div>

    <div class='messages'>
      <div v-for='msg in messages' style='margin: 10px;'>
        <Left-Message v-if='msg.byAnonymous' :text='msg.text' :sent-at='msg.sentAt' v-bind:sent-at='msg.sentAt'
          img-src='https://4.bp.blogspot.com/-toaP1vMGZAM/UNbkIddJNqI/AAAAAAAAJTk/MeuaawYOaLw/s200/mark_question.png'>
        </Left-Message>
        <Right-Message v-else :text='msg.text' :sent-at='msg.sentAt' img-src=''>
        </Right-Message>
      </div>
    </div>

  </div>

  <script type="module">
    import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js';
    import { LeftMessage, RightMessage } from '/message.js';

    Vue.component('right-message', RightMessage)
    Vue.component('left-message', LeftMessage)

    const wsServerDomain = 'localhost:8080'

    var app = new Vue({
      el: '#app',
      data: {
        accountToken: localStorage.accountToken,
        chatID: null,
        messages: [],
        messageDraft: null, websocket: null,
      },
      computed: {
        socketURL: function () {
          return `ws://${wsServerDomain}/connect/chat/${this.chatID}?access_token=${encodeURIComponent(this.accountToken)}`
        },
        started: function () { return this.websocket !== null },
      },
      mounted: function () {
        this.$nextTick(function () {
          const urlParams = new URLSearchParams(window.location.search)
          this.chatID = urlParams.get('chat_id')
          this.startSocket()
        })
      },
      methods: {
        startSocket: function () {
          this.websocket = new WebSocket(this.socketURL)
          this.websocket.onmessage = (evt) => this.onMessageReceive(JSON.parse(evt.data))
        },
        sendMessage: function () {
          this.websocket.send(JSON.stringify({ text: this.messageDraft }))
        },
        onMessageReceive: function (msg) {
          this.messages.push({
            messageID: msg.message_id,
            text: msg.text,
            byAnonymous: msg.by_anonymous,
            sentAt: new Date(Date.parse(msg.sent_at)),
          })
        },
      },
    })
  </script>
</body>

</html>