<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-color: #F4F4F4;
    }

    #app {
      max-width: 600px;
      margin: auto;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class='authorization'>
      <div>
        <input type='text' v-model="anonymousToken" placeholder='paste your token here'></input>
      </div>
      <div>
        <input type='text' v-model="chatID" placeholder='chat ID here'></input>
      </div>
    </div>

    <div class='controller'>
      <div v-if='started' style='display: flex; position: relative;'>
        <textarea v-model='messageDraft' style='width: 300px; height: 30px; display: block; margin: 5px;'></textarea>
        <button @click='sendMessage' style='margin-left: 20px; height: 30px;'>
          Send
        </button>
      </div>
      <div v-else>
        <button @click='startSocket'>Start</button>
      </div>
    </div>

    <div class='messages'>
      <div v-for='msg in messages' style='margin: 10px;'>
        <Right-Message v-if="msg.byAnonymous" v-bind:text='msg.text' v-bind:sent-at='msg.sentAt' img-src=''>
        </Right-Message>
        <Left-Message v-else v-bind:text='msg.text' v-bind:sent-at='msg.sentAt'
          img-src='https://1.bp.blogspot.com/-fv0PKULcS_g/V5ND3noPfdI/AAAAAAAA8fM/0vqkeF1n-6kUguj3IWff3hDOh5KwzmqBwCLcB/s400/computer_hacker_white1.png'>
        </Left-Message>
      </div>
    </div>

  </div>

  <script type="module">
    import Vue from ' https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js';
    import { LeftMessage, RightMessage } from '/message.js';

    Vue.component('right-message', RightMessage)
    Vue.component('left-message', LeftMessage)

    const wsServerDomain = 'localhost:8080'

    var app = new Vue({
      el: '#app',
      data: {
        anonymousToken: localStorage.anonymousToken,
        chatID: localStorage.chatID,
        messages: [],
        messageDraft: null, websocket: null,
      },
      computed: {
        socketURL: function () {
          return `ws://${wsServerDomain}/anonymous/connect/chat/${this.chatID}?access_token=${encodeURIComponent(this.anonymousToken)}`
        },
        started: function () { return this.websocket !== null },
      },
      methods: {
        startSocket: function () {
          localStorage.anonymousToken = this.anonymousToken
          localStorage.chatID = this.chatID
          this.websocket = new WebSocket(this.socketURL)
          this.websocket.onmessage = (evt) => this.onMessageReceive(JSON.parse(evt.data))
        },
        sendMessage: function () {
          this.websocket.send(JSON.stringify({ text: this.messageDraft }))
        },
        onMessageReceive: function (msg) {
          this.messages.push({
            messageID: msg.message_id,
            text: msg.text,
            byAnonymous: msg.by_anonymous,
            sentAt: new Date(Date.parse(msg.sent_at)),
          })
        },
      },
    })
  </script>
</body>

</html>